# Archivos SQL
# (Desbloqueados para mostrar perfil Backend en Portfolio)
# db/

# Guías, planes y documentación interna del desarrollador
# (Desbloqueados para el portfolio)
# docs/

# Archivos de entorno y configuración sensible
.env
.env.local
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos descartados
ignorar_git/


backup_dtz.js

# Obsidian Configs
.obsidian/workspace.json
.obsidian/workspace-mobile.json
